<div class="container">
    <div class="row">
      <div class="col-3">
        <div class="principal-encasulado">
          <h3>Menú</h3>
          <ul class="list-group">
            <li class="list-group-item">Incluir</li>
            <li class="list-group-item">Consultar</li>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <table class="table">
          <thead class="table-red">
            <tr>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Valor Tasa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-table">
          <p class="mt-2">Mensaje de bienvenida</p>
        </div>
      </div>
    </div>
  </div>
  